.encryptInputs {
  background-color: red;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 10px;
  font-size: 1.1em;
}

/* decryptInput */
.decryptInputs {
  background-color: blue;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 10px;
}

button {
  padding: 8px;
  margin: 10px;
  font-size: 0.8em;
}

input {
  padding: 10px;
  margin: 10px;
}
